@font-face {
  font-family: "Nexa";
  src: url("./Nexa-Trial-ExtraBold.eot") format("embedded-opentype"),
    url("./Nexa-Trial-ExtraBold.woff") format("woff"),
    url("./Nexa-Trial-ExtraBold.ttf") format("truetype"),
    url("./Nexa-Trial-ExtraBold.svg#Nexa-Trial-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  src: url("Nexa-Trial-Black.eot?") format("eot"),
    url("Nexa-Trial-Black.woff") format("woff"),
    url("Nexa-Trial-Black.ttf") format("truetype"),
    url("Nexa-Trial-Black.svg#Nexa-Trial-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  src: url("NexaText-Trial-Regular.eot?") format("eot"),
    url("NexaText-Trial-Regular.woff") format("woff"),
    url("NexaText-Trial-Regular.ttf") format("truetype"),
    url("NexaText-Trial-Regular.svg#NexaText-Trial-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
