@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;700&display=swap");
@import "tailwindcss";
@import "./fonts/Nexa/stylesheet.css";
@tailwind utilities;

body {
  margin: 0;
  font-family: "Nexa", "Nunito", sans-serif;
  font-weight: 400;
  background-color: #f0f9ff;
  color: #333;
}

.defaultFont {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.boldFont {
  font-family: "Nexa", "Nunito", cursive;
  font-weight: 900;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

section {
  scroll-margin-top: 64px;
}
