@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;700&display=swap");
@import "tailwindcss";

@tailwind utilities;

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #f0f9ff;
  color: #333;
}

.boldFont {
  font-family: "Fredoka One", cursive;
}
